langchain==0.1.4
langchain-community==0.0.16
langchain-core==0.1.17
openai==0.28.1
# openai==1.0.0
# langchain-openai==0.0.5
pydantic==2.5.2
# pandas==2.1.4
# click==8.1.7
sentence-transformers==2.3.0
# chromadb==0.4.22
python-dotenv==1.0.1
# pytest==8.0.0
# evaluate==0.4.1
# matplotlib==3.8.2
# rouge_score==0.1.2
# sacrebleu==2.4.0
# google-api-python-client>=2.100.0
# unstructured==0.12.3
# rank-bm25==0.2.2
# bitsandbytes==0.41.0
transformers==4.38.1
# accelerate==0.27.2
# peft==0.7.1
# trl==0.7.9
Flask==3.0.2